In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.types import LongType, FloatType, IntegerType, DateType, MapType
import pyspark.sql.functions as F
import re
import yaml

#define path to your yaml file
yaml_file_path= 'config.yaml'

with open(yaml_file_path, 'r') as yaml_file:
    config = yaml.safe_load(yaml_file)

spark = SparkSession \
    .builder \
    .appName("final_project") \
    .config("spark.jars", config['spark']['path']) \
    .getOrCreate()

In [6]:
def extract():
    try:
        # CSV path
        csv = config['csv']['path']
        # Read raw_data
        df = spark.read.csv(csv, header=True, inferSchema=False)
        return df
    except Exception as e:
        raise Exception(f"An error occurred during data extraction: {str(e)}")
        spark.stop()

In [7]:
df=extract()
df.select("Company Profile").show(truncate=False)

+--------------------------------------+
|Company Profile                       |
+--------------------------------------+
|"{""Sector"":""Financial Services""   |
|"{""Sector"":""Insurance""            |
|"{""Sector"":""Telecommunications""   |
|"{""Sector"":""Electronics""          |
|"{""Sector"":""Industrial""           |
|"{""Sector"":""Healthcare""           |
|"{""Sector"":""Retail""               |
|"{""Sector"":""Retail""               |
|"{""Sector"":""Energy""               |
|"{""Sector"":""Automotive Parts""     |
|"{""Sector"":""IT Services""          |
|"{""Sector"":""Financial Technology"" |
|"{""Sector"":""Waste Management""     |
|"{""Sector"":""Financial Services""   |
|"{""Sector"":""Food and Beverage""    |
|"{""Sector"":""Mining""               |
|"{""Sector"":""Healthcare""           |
|"{""Sector"":""Healthcare""           |
|"{""Sector"":""Real Estate/Logistics""|
|"{""Sector"":""Real Estate""          |
+--------------------------------------+
only showing top 20 rows

In [17]:
def clean():
    try:
        df = extract()
        # Changing -ve company size to positive
        df = df.withColumn("Company Size", F.when(F.col("Company Size") < 0, -F.col("Company Size")).otherwise(F.col("Company Size")))
        
        # List of columns to drop
        dropped = ["Contact Person", "Contact", "Benefits"]
        # Drop columns
        df = df.drop(*dropped)
        
        # Changing to standard data types
        df = df.withColumn("Job Id", df["Job Id"].cast(LongType()))\
               .withColumn("latitude", df["latitude"].cast(FloatType()))\
               .withColumn("longitude", df["longitude"].cast(FloatType()))\
               .withColumn("Company Size", df["Company Size"].cast(IntegerType()))\
               .withColumn("Job Posting Date", df["Job Posting Date"].cast(DateType()))
        
        # sector_pattern = r'"Sector":"([^"]+)"'

        # # Use regexp_extract to extract the value of "Sector" into a new column "Sector"
        # df = df.withColumn("Sector", F.regexp_extract(df["Company Profile"], sector_pattern, 1))
        df = df.withColumn("Sector", F.substring_index(F.col("Company Profile"), '":"', -1))
        df = df.withColumn("Sector", F.regexp_replace(F.col("Sector"), '"', ''))
        df=df.drop("Company Profile")




        return df
    except Exception as e:
        raise Exception(f"An error occurred during data cleaning: {str(e)}")
        spark.stop()

In [18]:
dff=clean()
# dff.select('Sector').show(truncate=False)
dff.show(10)

+----------------+-------------+--------------+------------+------------------+---------------+--------+---------+---------+------------+----------------+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------+
|          Job Id|   experience|qualifications|Salary Range|          location|        country|latitude|longitude|Work Type|Company Size|Job Posting Date|preference|           Job Title|                Role|         Job Portal|     Job Description|              skills|    responsibilities|             company|            Sector|
+----------------+-------------+--------------+------------+------------------+---------------+--------+---------+---------+------------+----------------+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------+
| 750556001849337|1 to 15 Years|           MBA|   $61K-$85K|              Suva|           Fiji|-17.7134|  178.065| Contract|      116756|      2022-02-11|      Male| Front-End Developer|     UI/UX Developer|             Indeed|A UI/UX Developer...|User interface (U...|Design and implem...|   Jackson Financial|Financial Services|
|  35160975336498|1 to 13 Years|           BBA|  $56K-$101K|             Rabat|        Morocco| 31.7917|  -7.0926|   Intern|       90543|      2022-04-30|      Both|        Pediatrician|General Pediatrician|               Dice|General Pediatric...|Pediatrics Pediat...|Provide primary h...|Erie Insurance Group|         Insurance|
| 226828850189486|3 to 12 Years|        B.Tech|   $61K-$97K|           Bishkek|Kyrgyz Republic| 41.2044|  74.7661| Contract|       37286|      2021-10-23|    Female|IT Support Specia...|IT Systems Admini...|Stack Overflow Jobs|IT Systems Admini...|Network administr...|Administer and ma...| Tata Communications|Telecommunications|
|2181795420055381|1 to 12 Years|        M.Tech|   $60K-$93K|        Porto-Novo|          Benin|  9.3077|   2.3158|Full-Time|       34863|      2022-02-21|      Both|    Registered Nurse|         Staff Nurse|        SimplyHired|A Staff Nurse pro...|Nursing care Pati...|Provide direct pa...|            Amphenol|       Electronics|
|1755044933676954|0 to 11 Years|           BCA|  $57K-$124K|           Tbilisi|        Georgia| 42.3154|  43.3569|Part-Time|       47150|      2021-11-08|    Female|Social Media Coor...|     Content Creator|    Internships.com|Create engaging a...|Content creation ...|Create compelling...|      Avery Dennison|        Industrial|
|1701938942801255|4 to 11 Years|         B.Com|  $62K-$102K|            Moscow|         Russia|  61.524| 105.3188| Contract|       15465|      2022-01-25|    Female|Customer Support ...|Customer Success ...|            USAJOBS|Customer Success ...|Customer relation...|Build and maintai...|Bristol-Myers Squibb|        Healthcare|
|1549187090001553| 4 to 9 Years|           PhD|  $58K-$124K|            Dodoma|       Tanzania|  -6.369|  34.8888|Temporary|       82468|      2023-01-16|    Female|Public Relations ...|Media Relations S...|            Monster|Media Relations S...|Media relations P...|Manage relationsh...|          Albertsons|            Retail|
|1985420468865688|3 to 15 Years|         M.Com|   $65K-$88K|          Brasilia|         Brazil| -14.235| -51.9253|   Intern|      100133|      2023-08-25|      Both|Market Research A...|   Market Researcher|               Dice|A Market Research...|Market research m...|Research market t...|   Burlington Stores|            Retail|
| 824108570821616| 4 to 8 Years|           BCA|  $64K-$113K|        Libreville|          Gabon| -0.8037|  11.6094|Full-Time|       81460|      2022-04-13|      Male|    Network Engineer|Network Security ...|        SimplyHired|Network Security ...|Network security ...|Focus on network ...| NGL Energy Partners|            Energy|
|2682227177958709|3 to 14 Years|           MBA|  $60K-$126K|City of Port Louis|      Mauritius|-20.3484|  57.5522|Part-Time|       40269|      2023-06-18|      Both|      HR Coordinator|Training Coordinator|           The Muse|Training Coordina...|Training program ...|Coordinate employ...|            AutoZone|  Automotive Parts|
+----------------+-------------+--------------+------------+------------------+---------------+--------+---------+---------+------------+----------------+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+------------------+
only showing top 10 rows

In [19]:
#udf to calculate avg
def calculate_average(range_str):
    # Use regular expression to extract numbers
    numbers = re.findall(r'\d+', range_str)
    if len(numbers) == 2:
        lower = int(numbers[0])
        upper = int(numbers[1])
        avg = (lower + upper) / 2
        return avg
    else:
        return None

In [20]:
def transform():
    try:
        df=clean()
        calculate_average_udf = F.udf(calculate_average)
        # Add a new column with the calculated average
        new_df = df.withColumn("Average", calculate_average_udf(df["Salary Range"]))
        new_df = new_df.withColumnRenamed("Average","Average Salary")
        new_df = new_df.withColumn("Average Salary",  
                                  new_df["Average Salary"] 
                                  .cast('int')) 

        
        # Changing gender preference from "both" to "Male or Female"
        new_df = new_df.withColumn("Preference", F.when(F.col("Preference") == "Both", "Male or Female").otherwise(F.col("Preference")))
        new_df.show()

        #Dividing companies into tiers according to the company size

        quartiles = new_df.stat.approxQuantile("company size", [0.25, 0.75], 0.0)
        q1, q3 = quartiles
        new_df = new_df.withColumn("CompanyTier",
        F.when(F.col("company size") <= q1, "Tier-1 (Low)")
        .when((F.col("company size") > q1) & (F.col("company size") <= q3), "Tier-2 (Medium)")
        .when(F.col("company size") > q3, "Tier-3 (High)")
        .otherwise("Uncategorized"))


        #Dividing jobs into three categories according to their salary.
        
        quartiles = new_df.stat.approxQuantile("Average Salary", [0.25, 0.75], 0.0)
        q1, q3 = quartiles
        new_df = new_df.withColumn("SalaryLevel",
        F.when(F.col("Average Salary") <= q1, "Low Pay")
        .when((F.col("Average Salary") > q1) & (F.col("Average Salary") <= q3), "Average Pay")
        .when(F.col("Average Salary") > q3, "High Pay")
        .otherwise("Uncategorized"))
        

        # Differentiate qualifications according to their initials

        new_df = new_df.withColumn("QualificationCategory", F.when(F.col("qualifications").startswith("M"), "Masters")
        .when(F.col("qualifications").startswith("B"), "Bachelors")
        .when(F.col("qualifications").startswith("P"), "PhD")
        .otherwise("Uncategorized"))


        return new_df

    except Exception as e:
        raise Exception(f"An error occurred during data transformation: {str(e)}")
        spark.stop()

In [41]:
dff=transform()
dff.printSchema()

+----------------+-------------+--------------+------------+--------------------+---------------+--------+---------+---------+------------+----------------+--------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+
|          Job Id|   experience|qualifications|Salary Range|            location|        country|latitude|longitude|Work Type|Company Size|Job Posting Date|    Preference|           Job Title|                Role|         Job Portal|     Job Description|              skills|    responsibilities|             company|     Company Profile|Average Salary|
+----------------+-------------+--------------+------------+--------------------+---------------+--------+---------+---------+------------+----------------+--------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+
| 750556001849337|1 to 15 Years|           MBA|   $61K-$85K|                Suva|           Fiji|-17.7134|  178.065| Contract|      116756|      2022-02-11|          Male| Front-End Developer|     UI/UX Developer|             Indeed|A UI/UX Developer...|User interface (U...|Design and implem...|   Jackson Financial|"{""Sector"":""Fi...|            73|
|  35160975336498|1 to 13 Years|           BBA|  $56K-$101K|               Rabat|        Morocco| 31.7917|  -7.0926|   Intern|       90543|      2022-04-30|Male or Female|        Pediatrician|General Pediatrician|               Dice|General Pediatric...|Pediatrics Pediat...|Provide primary h...|Erie Insurance Group|"{""Sector"":""In...|            78|
| 226828850189486|3 to 12 Years|        B.Tech|   $61K-$97K|             Bishkek|Kyrgyz Republic| 41.2044|  74.7661| Contract|       37286|      2021-10-23|        Female|IT Support Specia...|IT Systems Admini...|Stack Overflow Jobs|IT Systems Admini...|Network administr...|Administer and ma...| Tata Communications|"{""Sector"":""Te...|            79|
|2181795420055381|1 to 12 Years|        M.Tech|   $60K-$93K|          Porto-Novo|          Benin|  9.3077|   2.3158|Full-Time|       34863|      2022-02-21|Male or Female|    Registered Nurse|         Staff Nurse|        SimplyHired|A Staff Nurse pro...|Nursing care Pati...|Provide direct pa...|            Amphenol|"{""Sector"":""El...|            76|
|1755044933676954|0 to 11 Years|           BCA|  $57K-$124K|             Tbilisi|        Georgia| 42.3154|  43.3569|Part-Time|       47150|      2021-11-08|        Female|Social Media Coor...|     Content Creator|    Internships.com|Create engaging a...|Content creation ...|Create compelling...|      Avery Dennison|"{""Sector"":""In...|            90|
|1701938942801255|4 to 11 Years|         B.Com|  $62K-$102K|              Moscow|         Russia|  61.524| 105.3188| Contract|       15465|      2022-01-25|        Female|Customer Support ...|Customer Success ...|            USAJOBS|Customer Success ...|Customer relation...|Build and maintai...|Bristol-Myers Squibb|"{""Sector"":""He...|            82|
|1549187090001553| 4 to 9 Years|           PhD|  $58K-$124K|              Dodoma|       Tanzania|  -6.369|  34.8888|Temporary|       82468|      2023-01-16|        Female|Public Relations ...|Media Relations S...|            Monster|Media Relations S...|Media relations P...|Manage relationsh...|          Albertsons|"{""Sector"":""Re...|            91|
|1985420468865688|3 to 15 Years|         M.Com|   $65K-$88K|            Brasilia|         Brazil| -14.235| -51.9253|   Intern|      100133|      2023-08-25|Male or Female|Market Research A...|   Market Researcher|               Dice|A Market Research...|Market research m...|Research market t...|   Burlington Stores|"{""Sector"":""Re...|            76|
| 824108570821616| 4 to 8 Years|           BCA|  $64K-$113K|          Libreville|          Gabon| -0.8037|  11.6094|Full-Time|       81460|      2022-04-13|          Male|    Network Engineer|Network Security ...|        SimplyHired|Network Security ...|Network security ...|Focus on network ...| NGL Energy Partners|"{""Sector"":""En...|            88|
|2682227177958709|3 to 14 Years|           MBA|  $60K-$126K|  City of Port Louis|      Mauritius|-20.3484|  57.5522|Part-Time|       40269|      2023-06-18|Male or Female|      HR Coordinator|Training Coordinator|           The Muse|Training Coordina...|Training program ...|Coordinate employ...|            AutoZone|"{""Sector"":""Au...|            93|
|1120327672520888|1 to 14 Years|           MCA|   $56K-$83K|            Chisinau|        Moldova| 47.4116|  28.3699|Temporary|       82146|      2023-02-27|        Female|  Aerospace Engineer|Aircraft Design E...|            Monster|Aircraft Design E...|Aerospace enginee...|Design and develo...|    Kyndryl Holdings|"{""Sector"":""IT...|            69|
|1016548307917517|1 to 10 Years|         B.Com|   $64K-$85K|               Accra|          Ghana|  7.9465|  -1.0232|Temporary|       25265|      2023-04-24|          Male| Procurement Manager| Procurement Analyst|Stack Overflow Jobs|Analyze procureme...|Procurement proce...|Analyze procureme...|              Intuit|"{""Sector"":""Fi...|            74|
| 931996206894263|0 to 15 Years|        B.Tech|  $63K-$128K|            Belgrade|         Serbia| 44.0165|  21.0059| Contract|       34436|      2023-02-23|Male or Female|    Account Director|  Account Strategist|        SimplyHired|Account Strategis...|Account managemen...|Develop account s...|    Waste Management|"{""Sector"":""Wa...|            95|
| 936026030787949|1 to 11 Years|           MCA|   $58K-$93K|             Mbabane|       Eswatini| 26.5225|  31.4659| Contract|      114431|      2022-07-20|          Male|Email Marketing S...|Deliverability An...|        SimplyHired|Monitor and impro...|Email deliverabil...|Focus on email de...|Jones Financial (...|"{""Sector"":""Fi...|            75|
|2681575284669917|3 to 11 Years|        M.Tech|  $62K-$109K|              Madrid|          Spain| 40.4637|  -3.7492|   Intern|      129637|      2023-09-12|        Female| Mechanical Designer|      CAD Technician|           The Muse|Create and modify...|Computer-aided de...|Use computer-aide...|           Starbucks|"{""Sector"":""Fo...|            85|
| 422350454096173|3 to 10 Years|           MCA|  $56K-$129K|              Riyadh|   Saudi Arabia| 23.8859|  45.0792|Part-Time|       62230|      2023-02-22|          Male|  Network Technician|Network Support S...|           FlexJobs|Network Support S...|Network troublesh...|Provide technical...|  Coal India Limited|"{""Sector"":""Mi...|            92|
| 566426802229219|2 to 12 Years|        M.Tech|  $57K-$113K|                Apia|          Samoa| -13.759|-172.1046|Full-Time|       82247|      2021-09-26|          Male|     Finance Manager|Financial Plannin...|      CareerBuilder|Financial Plannin...|Financial plannin...|Oversee financial...|          CVS Health|"{""Sector"":""He...|            85|
|2409827685209119|4 to 15 Years|           BCA|  $57K-$110K|            Pristina|         Kosovo| 42.6026|   20.903|Part-Time|      131373|      2021-09-18|          Male|     Systems Analyst|          IT Analyst|            USAJOBS|An IT Analyst ass...|IT systems analys...|Analyze business ...|     Elevance Health|"{""Sector"":""He...|            83|
| 663011056280519|2 to 13 Years|           MCA|   $61K-$80K|Sri Jayawardenepu...|      Sri Lanka|  7.8731|  80.7718| Contract|       57246|      2022-01-31|Male or Female|   Financial Advisor|  Investment Advisor|           Idealist|Investment Adviso...|Investment strate...|Provide investmen...|       Goodman Group|"{""Sector"":""Re...|            70|
| 490719222312982| 4 to 8 Years|           PhD|  $61K-$125K|             Yaounde|       Cameroon|  7.3697|  12.3547|Full-Time|       19294|      2022-10-24|Male or Female|       Event Planner|     Wedding Planner|           FlexJobs|Wedding Planners ...|Wedding planning ...|Specialize in wed...|  Jones Lang LaSalle|"{""Sector"":""Re...|            93|
+----------------+-------------+--------------+------------+--------------------+---------------+--------+---------+---------+------------+----------------+--------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+
only showing top 20 rows

ERROR:root:KeyboardInterrupt while sending command.==>              (3 + 1) / 4]
Traceback (most recent call last):
  File "/home/ubuntu/Desktop/final_project/venv/lib/python3.10/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/ubuntu/Desktop/final_project/venv/lib/python3.10/site-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/usr/lib/python3.10/socket.py", line 705, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt:

In [21]:
def load():
    try:
        dff=transform()
        ##Load the clean data in postgres
        dff.write.format('jdbc').options(url=config['postgres']["url"],driver = config['postgres']["driver"], dbtable = config['postgres']["dbtable"], user=config['postgres']["user"],password=config['postgres']["password"]).mode('overwrite').save()
        return dff
    except Exception as e:
        raise Exception(f"An error occurred during loading the data: {str(e)}")
        spark.stop()

In [22]:
load()

+----------------+-------------+--------------+------------+--------------------+---------------+--------+---------+---------+------------+----------------+--------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+
|          Job Id|   experience|qualifications|Salary Range|            location|        country|latitude|longitude|Work Type|Company Size|Job Posting Date|    Preference|           Job Title|                Role|         Job Portal|     Job Description|              skills|    responsibilities|             company|              Sector|Average Salary|
+----------------+-------------+--------------+------------+--------------------+---------------+--------+---------+---------+------------+----------------+--------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+
| 750556001849337|1 to 15 Years|           MBA|   $61K-$85K|                Suva|           Fiji|-17.7134|  178.065| Contract|      116756|      2022-02-11|          Male| Front-End Developer|     UI/UX Developer|             Indeed|A UI/UX Developer...|User interface (U...|Design and implem...|   Jackson Financial|  Financial Services|            73|
|  35160975336498|1 to 13 Years|           BBA|  $56K-$101K|               Rabat|        Morocco| 31.7917|  -7.0926|   Intern|       90543|      2022-04-30|Male or Female|        Pediatrician|General Pediatrician|               Dice|General Pediatric...|Pediatrics Pediat...|Provide primary h...|Erie Insurance Group|           Insurance|            78|
| 226828850189486|3 to 12 Years|        B.Tech|   $61K-$97K|             Bishkek|Kyrgyz Republic| 41.2044|  74.7661| Contract|       37286|      2021-10-23|        Female|IT Support Specia...|IT Systems Admini...|Stack Overflow Jobs|IT Systems Admini...|Network administr...|Administer and ma...| Tata Communications|  Telecommunications|            79|
|2181795420055381|1 to 12 Years|        M.Tech|   $60K-$93K|          Porto-Novo|          Benin|  9.3077|   2.3158|Full-Time|       34863|      2022-02-21|Male or Female|    Registered Nurse|         Staff Nurse|        SimplyHired|A Staff Nurse pro...|Nursing care Pati...|Provide direct pa...|            Amphenol|         Electronics|            76|
|1755044933676954|0 to 11 Years|           BCA|  $57K-$124K|             Tbilisi|        Georgia| 42.3154|  43.3569|Part-Time|       47150|      2021-11-08|        Female|Social Media Coor...|     Content Creator|    Internships.com|Create engaging a...|Content creation ...|Create compelling...|      Avery Dennison|          Industrial|            90|
|1701938942801255|4 to 11 Years|         B.Com|  $62K-$102K|              Moscow|         Russia|  61.524| 105.3188| Contract|       15465|      2022-01-25|        Female|Customer Support ...|Customer Success ...|            USAJOBS|Customer Success ...|Customer relation...|Build and maintai...|Bristol-Myers Squibb|          Healthcare|            82|
|1549187090001553| 4 to 9 Years|           PhD|  $58K-$124K|              Dodoma|       Tanzania|  -6.369|  34.8888|Temporary|       82468|      2023-01-16|        Female|Public Relations ...|Media Relations S...|            Monster|Media Relations S...|Media relations P...|Manage relationsh...|          Albertsons|              Retail|            91|
|1985420468865688|3 to 15 Years|         M.Com|   $65K-$88K|            Brasilia|         Brazil| -14.235| -51.9253|   Intern|      100133|      2023-08-25|Male or Female|Market Research A...|   Market Researcher|               Dice|A Market Research...|Market research m...|Research market t...|   Burlington Stores|              Retail|            76|
| 824108570821616| 4 to 8 Years|           BCA|  $64K-$113K|          Libreville|          Gabon| -0.8037|  11.6094|Full-Time|       81460|      2022-04-13|          Male|    Network Engineer|Network Security ...|        SimplyHired|Network Security ...|Network security ...|Focus on network ...| NGL Energy Partners|              Energy|            88|
|2682227177958709|3 to 14 Years|           MBA|  $60K-$126K|  City of Port Louis|      Mauritius|-20.3484|  57.5522|Part-Time|       40269|      2023-06-18|Male or Female|      HR Coordinator|Training Coordinator|           The Muse|Training Coordina...|Training program ...|Coordinate employ...|            AutoZone|    Automotive Parts|            93|
|1120327672520888|1 to 14 Years|           MCA|   $56K-$83K|            Chisinau|        Moldova| 47.4116|  28.3699|Temporary|       82146|      2023-02-27|        Female|  Aerospace Engineer|Aircraft Design E...|            Monster|Aircraft Design E...|Aerospace enginee...|Design and develo...|    Kyndryl Holdings|         IT Services|            69|
|1016548307917517|1 to 10 Years|         B.Com|   $64K-$85K|               Accra|          Ghana|  7.9465|  -1.0232|Temporary|       25265|      2023-04-24|          Male| Procurement Manager| Procurement Analyst|Stack Overflow Jobs|Analyze procureme...|Procurement proce...|Analyze procureme...|              Intuit|Financial Technology|            74|
| 931996206894263|0 to 15 Years|        B.Tech|  $63K-$128K|            Belgrade|         Serbia| 44.0165|  21.0059| Contract|       34436|      2023-02-23|Male or Female|    Account Director|  Account Strategist|        SimplyHired|Account Strategis...|Account managemen...|Develop account s...|    Waste Management|    Waste Management|            95|
| 936026030787949|1 to 11 Years|           MCA|   $58K-$93K|             Mbabane|       Eswatini| 26.5225|  31.4659| Contract|      114431|      2022-07-20|          Male|Email Marketing S...|Deliverability An...|        SimplyHired|Monitor and impro...|Email deliverabil...|Focus on email de...|Jones Financial (...|  Financial Services|            75|
|2681575284669917|3 to 11 Years|        M.Tech|  $62K-$109K|              Madrid|          Spain| 40.4637|  -3.7492|   Intern|      129637|      2023-09-12|        Female| Mechanical Designer|      CAD Technician|           The Muse|Create and modify...|Computer-aided de...|Use computer-aide...|           Starbucks|   Food and Beverage|            85|
| 422350454096173|3 to 10 Years|           MCA|  $56K-$129K|              Riyadh|   Saudi Arabia| 23.8859|  45.0792|Part-Time|       62230|      2023-02-22|          Male|  Network Technician|Network Support S...|           FlexJobs|Network Support S...|Network troublesh...|Provide technical...|  Coal India Limited|              Mining|            92|
| 566426802229219|2 to 12 Years|        M.Tech|  $57K-$113K|                Apia|          Samoa| -13.759|-172.1046|Full-Time|       82247|      2021-09-26|          Male|     Finance Manager|Financial Plannin...|      CareerBuilder|Financial Plannin...|Financial plannin...|Oversee financial...|          CVS Health|          Healthcare|            85|
|2409827685209119|4 to 15 Years|           BCA|  $57K-$110K|            Pristina|         Kosovo| 42.6026|   20.903|Part-Time|      131373|      2021-09-18|          Male|     Systems Analyst|          IT Analyst|            USAJOBS|An IT Analyst ass...|IT systems analys...|Analyze business ...|     Elevance Health|          Healthcare|            83|
| 663011056280519|2 to 13 Years|           MCA|   $61K-$80K|Sri Jayawardenepu...|      Sri Lanka|  7.8731|  80.7718| Contract|       57246|      2022-01-31|Male or Female|   Financial Advisor|  Investment Advisor|           Idealist|Investment Adviso...|Investment strate...|Provide investmen...|       Goodman Group|Real Estate/Logis...|            70|
| 490719222312982| 4 to 8 Years|           PhD|  $61K-$125K|             Yaounde|       Cameroon|  7.3697|  12.3547|Full-Time|       19294|      2022-10-24|Male or Female|       Event Planner|     Wedding Planner|           FlexJobs|Wedding Planners ...|Wedding planning ...|Specialize in wed...|  Jones Lang LaSalle|         Real Estate|            93|
+----------------+-------------+--------------+------------+--------------------+---------------+--------+---------+---------+------------+----------------+--------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+
only showing top 20 rows

DataFrame[Job Id: bigint, experience: string, qualifications: string, Salary Range: string, location: string, country: string, latitude: float, longitude: float, Work Type: string, Company Size: int, Job Posting Date: date, Preference: string, Job Title: string, Role: string, Job Portal: string, Job Description: string, skills: string, responsibilities: string, company: string, Sector: string, Average Salary: int, CompanyTier: string, SalaryLevel: string, QualificationCategory: string]